@model List<Employee>

<style>
    body {
        background-color: #f9f0f3; 
    }

    .table {
        background-color: #ffffff; 
        border-radius: 10px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
        margin: 20px;
    }

    th, td {
        text-align: center; 
    }

    th {
        background-color: #d63384; 
        color: white; 
    }

    td {
        color: #333; 
    }

    a {
        color: #d63384; 
        text-decoration: none; 
    }

        a:hover {
            text-decoration: underline; 
            color: #ff80b8; 
        }

    .table tbody tr:hover {
        background-color: #f2d4e8; 
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Address</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.SSN</th>
                <td>@item.FName</td>
                <td>@item.LName</td>
                <td>@item.Sex</td>
                <td>@item.Address</td>
                <td><a href="/Employee/Delete/@item.SSN">Delete</a></td>
                <td><a href="/Employee/EmpEditForm/@item.SSN">Update</a></td>
            </tr>
        }
    </tbody>
</table>
